openapi: 3.0.3
info:
  title: MarketLink API - Farmer & Admin Modules
  description: >
    Comprehensive OpenAPI 3.0 specification for MarketLink, an agricultural direct-to-consumer
    platform connecting consumers directly with verified local farmers for fresh harvest pre-orders
    and physical market pickup. This document fully details the Farmer Module, Inventory, Order
    Processing, Content Moderation, and Administrator Management boundaries.
  version: 1.0.0
  contact:
    name: MarketLink Engineering Team
    email: api-support@marketlink.com
  license:
    name: Proprietary

servers:
  - url: https://api.marketlink.com
    description: Production API Server
  - url: http://localhost:8000
    description: Local Development Server

tags:
  - name: Farmer Authentication & Profile
    description: Farmer registration, account authentication, and farm profile management.
  - name: Farmer Products & Inventory
    description: Agricultural produce catalog, stock quantities, and availability toggles.
  - name: Farmer Orders
    description: Farmer order lifecycle processing (accept, decline, ready for pickup, complete).
  - name: Farmer Reviews
    description: Viewing verified customer reviews and publishing farmer replies.
  - name: Admin Dashboard
    description: Platform-wide analytics, key performance indicators, and transaction summaries.
  - name: Admin Farmer Management
    description: Reviewing farmer onboarding applications, approvals, and account suspensions.
  - name: Admin Customer Management
    description: Inspecting customer accounts and toggling active/suspended access status.
  - name: Admin Markets
    description: CRUD management of physical farmer markets, operating days, and GPS coordinates.
  - name: Admin Categories
    description: Standard system-wide product categories management.
  - name: Admin Content Moderation
    description: Moderating agricultural products and public customer reviews.
  - name: Admin Announcements
    description: System-wide broadcast announcements targeting farmers, customers, or all users.

paths:
  # ---------------------------------------------------------------------------
  # 1. Farmer Authentication & Profile
  # ---------------------------------------------------------------------------
  /api/v1/farmer/register:
    post:
      tags:
        - Farmer Authentication & Profile
      summary: Register a new farmer account and business profile
      description: >
        Creates a new user with the `farmer` role and `pending` status, stores farm business
        profile information with operating days and pickup schedules, and returns an initial
        Sanctum authentication token.
      operationId: registerFarmer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FarmerRegisterRequest'
      responses:
        '201':
          description: Farmer account registered successfully and awaiting admin verification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmerRegisterResponse'
        '422':
          $ref: '#/components/responses/422ValidationError'

  /api/v1/farmer/profile:
    get:
      tags:
        - Farmer Authentication & Profile
      summary: Retrieve authenticated farmer profile
      description: Returns the authenticated farmer's business profile, operating days, pickup windows, and associated physical markets.
      operationId: getFarmerProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Farmer profile details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmerProfileResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403FarmerForbidden'

    put:
      tags:
        - Farmer Authentication & Profile
      summary: Update farmer profile & market associations
      description: Updates the business name, description, stall number, physical address, GPS coordinates, operating schedule, and market associations.
      operationId: updateFarmerProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FarmerProfileUpdateRequest'
      responses:
        '200':
          description: Farmer profile updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmerProfileResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403FarmerForbidden'
        '422':
          $ref: '#/components/responses/422ValidationError'

  # ---------------------------------------------------------------------------
  # 2. Farmer Products & Inventory
  # ---------------------------------------------------------------------------
  /api/v1/farmer/products:
    get:
      tags:
        - Farmer Products & Inventory
      summary: List all products belonging to the authenticated farmer
      description: Retrieves a paginated list of catalog items with category details and optional search or category filtering.
      operationId: listFarmerProducts
      security:
        - bearerAuth: []
      parameters:
        - name: category_id
          in: query
          description: Filter products by category ID.
          required: false
          schema:
            type: integer
            example: 1
        - name: search
          in: query
          description: Filter products by matching name or description substring.
          required: false
          schema:
            type: string
            example: heirloom
        - name: is_available
          in: query
          description: Filter by availability status.
          required: false
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          description: Page number for pagination.
          required: false
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Items per page.
          required: false
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated product list retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403FarmerForbidden'

    post:
      tags:
        - Farmer Products & Inventory
      summary: Create a new agricultural product
      description: >
        Uploads product image (max 2MB), verifies weekly stock quota, and persists the product
        under the authenticated farmer's profile.
      operationId: storeFarmerProduct
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProductStoreRequest'
      responses:
        '201':
          description: Product created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSingleResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403FarmerForbidden'
        '422':
          $ref: '#/components/responses/422ValidationError'

  /api/v1/farmer/products/{id}:
    get:
      tags:
        - Farmer Products & Inventory
      summary: Get details of a specific farmer product
      description: Fetches full product details including category and farmer association.
      operationId: getFarmerProduct
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique product identifier.
          schema:
            type: integer
            example: 10
      responses:
        '200':
          description: Product details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSingleResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403FarmerForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'

    put:
      tags:
        - Farmer Products & Inventory
      summary: Update product specifications and inventory
      description: Updates product metadata, price, units, stock quantities, and optional new image file.
      operationId: updateFarmerProduct
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Product ID to update.
          schema:
            type: integer
            example: 10
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProductUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdateRequest'
      responses:
        '200':
          description: Product updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSingleResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403FarmerForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422ValidationError'

    delete:
      tags:
        - Farmer Products & Inventory
      summary: Delete or unpublish product
      description: Deletes product and removes stored image file from storage disk.
      operationId: deleteFarmerProduct
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Product ID to delete.
          schema:
            type: integer
            example: 10
      responses:
        '200':
          description: Product removed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Product removed successfully.
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403FarmerForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'

  /api/v1/farmer/products/{id}/toggle-availability:
    patch:
      tags:
        - Farmer Products & Inventory
      summary: Toggle product availability state
      description: Instantly switches product status between available and sold-out / unavailable.
      operationId: toggleFarmerProductAvailability
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Product ID.
          schema:
            type: integer
            example: 10
      responses:
        '200':
          description: Availability state toggled successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Product availability status changed to unavailable.
                  data:
                    $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403FarmerForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'

  # ---------------------------------------------------------------------------
  # 3. Farmer Order Management
  # ---------------------------------------------------------------------------
  /api/v1/farmer/orders:
    get:
      tags:
        - Farmer Orders
      summary: List incoming customer orders
      description: Returns incoming orders filtered by lifecycle status with customer and line item details.
      operationId: listFarmerOrders
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          description: Filter orders by lifecycle status.
          required: false
          schema:
            type: string
            enum: [pending, accepted, declined, ready_for_pickup, completed, cancelled]
            example: pending
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Incoming orders retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403FarmerForbidden'

  /api/v1/farmer/orders/{id}:
    get:
      tags:
        - Farmer Orders
      summary: Retrieve order details
      description: Returns full breakdown for an individual order including customer details, market stall pickup slot, and line items.
      operationId: getFarmerOrder
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Order ID.
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Order details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderSingleResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403FarmerForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'

  /api/v1/farmer/orders/{id}/status:
    patch:
      tags:
        - Farmer Orders
      summary: Update order status along lifecycle
      description: >
        Transitions order status to `accepted`, `declined`, or `ready_for_pickup`.
        Restocks inventory if declined before cutoff time.
      operationId: updateFarmerOrderStatus
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Order ID.
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderStatusUpdateRequest'
      responses:
        '200':
          description: Order status updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderSingleResponse'
        '400':
          description: Cutoff time passed or invalid status transition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Cannot modify order after cutoff time has passed.
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403FarmerForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422ValidationError'

  /api/v1/farmer/dashboard/stats:
    get:
      tags:
        - Farmer Orders
      summary: Get operational metrics and dashboard statistics
      description: Returns aggregate counts of total, pending, and completed orders, platform revenue, active products, and customer rating averages.
      operationId: getFarmerDashboardStats
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Farmer dashboard metrics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmerDashboardStatsResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403FarmerForbidden'

  # ---------------------------------------------------------------------------
  # 4. Farmer Reviews
  # ---------------------------------------------------------------------------
  /api/v1/farmer/reviews:
    get:
      tags:
        - Farmer Reviews
      summary: List customer reviews for authenticated farmer
      description: Lists reviews and ratings with customer details, order item references, and existing replies.
      operationId: listFarmerReviews
      security:
        - bearerAuth: []
      parameters:
        - name: rating
          in: query
          description: Filter by exact star rating (1-5).
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
            example: 5
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Customer reviews retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewListResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403FarmerForbidden'

  /api/v1/farmer/reviews/{id}/reply:
    post:
      tags:
        - Farmer Reviews
      summary: Reply to a customer review
      description: Publishes or updates the farmer's response to an existing customer review.
      operationId: replyFarmerReview
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Review ID.
          schema:
            type: integer
            example: 3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FarmerReviewReplyRequest'
      responses:
        '200':
          description: Reply published successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewSingleResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403FarmerForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422ValidationError'

  # ---------------------------------------------------------------------------
  # 5. Admin Module
  # ---------------------------------------------------------------------------
  /api/v1/admin/dashboard/stats:
    get:
      tags:
        - Admin Dashboard
      summary: Aggregate platform-wide summary metrics
      description: Computes aggregate statistics across total farmers, active customers, physical markets, platform orders, and total gross revenue.
      operationId: getAdminDashboardStats
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Platform statistics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDashboardStatsResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'

  /api/v1/admin/farmers:
    get:
      tags:
        - Admin Farmer Management
      summary: List registered farmer profiles
      description: Lists farmer accounts with filter by approval/suspension status, name, and email.
      operationId: listAdminFarmers
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          description: Filter by account status.
          required: false
          schema:
            type: string
            enum: [pending, active, suspended]
            example: pending
        - name: search
          in: query
          description: Search by farmer name, business name, or email.
          required: false
          schema:
            type: string
            example: Organic
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Farmer accounts retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminFarmerListResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'

  /api/v1/admin/farmers/{id}/approve:
    patch:
      tags:
        - Admin Farmer Management
      summary: Approve farmer account application
      description: Sets farmer user status to `active`, marks farmer profile `is_approved` to true, and activates their stalls.
      operationId: approveAdminFarmer
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID of the farmer to approve.
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: Farmer account approved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Farmer account approved and activated successfully.
                  data:
                    $ref: '#/components/schemas/FarmerProfile'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'

  /api/v1/admin/farmers/{id}/suspend:
    patch:
      tags:
        - Admin Farmer Management
      summary: Suspend farmer account
      description: >
        Suspends the farmer account, revokes active access tokens, marks all their products
        unavailable, and stores an administrative suspension reason.
      operationId: suspendAdminFarmer
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID of the farmer to suspend.
          schema:
            type: integer
            example: 5
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  example: Repeated failure to fulfill customer pre-orders during market hours.
      responses:
        '200':
          description: Farmer account suspended successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Farmer account suspended and products made unavailable.
                  data:
                    $ref: '#/components/schemas/FarmerProfile'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'

  /api/v1/admin/customers:
    get:
      tags:
        - Admin Customer Management
      summary: List registered customer accounts
      description: Paginated view of customer accounts with order counts and search filters.
      operationId: listAdminCustomers
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, pending, suspended]
        - name: search
          in: query
          schema:
            type: string
            example: Alice
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Customers retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCustomerListResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'

  /api/v1/admin/customers/{id}/toggle-status:
    patch:
      tags:
        - Admin Customer Management
      summary: Activate, deactivate, or suspend customer account
      description: Modifies customer account status and revokes active tokens upon suspension.
      operationId: toggleAdminCustomerStatus
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Customer User ID.
          schema:
            type: integer
            example: 8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [active, suspended]
                  example: suspended
      responses:
        '200':
          description: Customer account status updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Customer status updated to suspended.
                  data:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422ValidationError'

  /api/v1/admin/markets:
    get:
      tags:
        - Admin Markets
      summary: List all farmers markets
      description: Retrieves all physical farmers markets registered in the system.
      operationId: listAdminMarkets
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Markets retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Market'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'

    post:
      tags:
        - Admin Markets
      summary: Create a physical farmers market
      description: Registers a new market location with GPS coordinates and operating schedules.
      operationId: storeAdminMarket
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketRequest'
      responses:
        '201':
          description: Market created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Market created successfully.
                  data:
                    $ref: '#/components/schemas/Market'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'
        '422':
          $ref: '#/components/responses/422ValidationError'

  /api/v1/admin/markets/{id}:
    get:
      tags:
        - Admin Markets
      summary: Get market details
      description: Returns full details of a specific farmers market including approved vendor stalls.
      operationId: getAdminMarket
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Market details retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    $ref: '#/components/schemas/Market'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'

    put:
      tags:
        - Admin Markets
      summary: Update farmers market location and schedule
      description: Updates market name, location, coordinates, and operating hours.
      operationId: updateAdminMarket
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketRequest'
      responses:
        '200':
          description: Market updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Market updated successfully.
                  data:
                    $ref: '#/components/schemas/Market'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422ValidationError'

    delete:
      tags:
        - Admin Markets
      summary: Delete farmers market
      description: Removes market record if no active pre-orders depend on it.
      operationId: deleteAdminMarket
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Market removed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Market removed successfully.
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'

  /api/v1/admin/categories:
    get:
      tags:
        - Admin Categories
      summary: List all product categories
      description: Returns system agricultural categories with active counts.
      operationId: listAdminCategories
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Categories retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'

    post:
      tags:
        - Admin Categories
      summary: Create agricultural category
      description: Creates a new produce category with automatic slug generation.
      operationId: storeAdminCategory
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryRequest'
      responses:
        '201':
          description: Category created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Category created successfully.
                  data:
                    $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'
        '422':
          $ref: '#/components/responses/422ValidationError'

  /api/v1/admin/categories/{id}:
    get:
      tags:
        - Admin Categories
      summary: Get category details
      description: Returns specific category record and total products count.
      operationId: getAdminCategory
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Category details retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'

    put:
      tags:
        - Admin Categories
      summary: Update category specifications
      description: Modifies category name, description, and active status.
      operationId: updateAdminCategory
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryRequest'
      responses:
        '200':
          description: Category updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Category updated successfully.
                  data:
                    $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422ValidationError'

    delete:
      tags:
        - Admin Categories
      summary: Delete product category
      description: Removes category if no active products are currently assigned to it.
      operationId: deleteAdminCategory
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Category deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Category deleted successfully.
        '400':
          description: Cannot delete category containing assigned products.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Cannot delete category with existing products.
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'

  /api/v1/admin/products/{id}/moderate:
    patch:
      tags:
        - Admin Content Moderation
      summary: Moderate product listing
      description: Administrative action to flag, unflag, or permanently purge an inappropriate product listing.
      operationId: moderateAdminProduct
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Product ID to moderate.
          schema:
            type: integer
            example: 12
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - action
              properties:
                action:
                  type: string
                  enum: [flag, unflag, delete]
                  example: flag
                reason:
                  type: string
                  example: Product image violates platform agricultural policy.
      responses:
        '200':
          description: Product moderation action completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Product status updated to flagged.
                  data:
                    $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422ValidationError'

  /api/v1/admin/reviews/{id}/moderate:
    delete:
      tags:
        - Admin Content Moderation
      summary: Moderate or delete customer review
      description: Permanently removes a fraudulent, abusive, or spam customer review from the platform.
      operationId: deleteAdminReviewModerate
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Review ID to remove.
          schema:
            type: integer
            example: 4
      responses:
        '200':
          description: Review permanently removed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Review permanently deleted.
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'

  /api/v1/admin/announcements:
    get:
      tags:
        - Admin Announcements
      summary: List platform broadcast announcements
      description: Returns broadcast announcements with filters for role and active status.
      operationId: listAdminAnnouncements
      security:
        - bearerAuth: []
      parameters:
        - name: target_role
          in: query
          schema:
            type: string
            enum: [all, farmer, customer]
            example: all
        - name: is_active
          in: query
          schema:
            type: boolean
            example: true
      responses:
        '200':
          description: Announcements list retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Announcement'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'

    post:
      tags:
        - Admin Announcements
      summary: Publish platform announcement
      description: Broadcasts a new notification to farmers, customers, or all platform participants.
      operationId: storeAdminAnnouncement
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnouncementRequest'
      responses:
        '201':
          description: Announcement created and broadcast successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Announcement created successfully.
                  data:
                    $ref: '#/components/schemas/Announcement'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'
        '422':
          $ref: '#/components/responses/422ValidationError'

  /api/v1/admin/announcements/{id}:
    get:
      tags:
        - Admin Announcements
      summary: Get announcement details
      description: Retrieves single announcement record.
      operationId: getAdminAnnouncement
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Announcement details retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    $ref: '#/components/schemas/Announcement'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'

    put:
      tags:
        - Admin Announcements
      summary: Update platform announcement
      description: Modifies announcement title, message, active status, or target role.
      operationId: updateAdminAnnouncement
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnouncementRequest'
      responses:
        '200':
          description: Announcement updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Announcement updated successfully.
                  data:
                    $ref: '#/components/schemas/Announcement'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422ValidationError'

    delete:
      tags:
        - Admin Announcements
      summary: Delete platform announcement
      description: Removes an active or expired broadcast announcement.
      operationId: deleteAdminAnnouncement
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Announcement deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Announcement deleted successfully.
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403AdminForbidden'
        '404':
          $ref: '#/components/responses/404NotFound'

# -----------------------------------------------------------------------------
# Components & Reusable Schemas
# -----------------------------------------------------------------------------
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Sanctum Token
      description: Enter the Sanctum Bearer token received from registration or authentication.

  responses:
    401Unauthorized:
      description: Unauthenticated. Token missing, expired, or invalid.
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Unauthenticated.

    403FarmerForbidden:
      description: Forbidden. Authenticated user does not possess an active farmer role or is unverified.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                example: error
              message:
                type: string
                example: Unauthorized. Farmer access required.

    403AdminForbidden:
      description: Forbidden. Administrator privileges required.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                example: error
              message:
                type: string
                example: Unauthorized. Administrator access required.

    404NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                example: error
              message:
                type: string
                example: Resource not found.

    422ValidationError:
      description: Request body validation failed.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                example: error
              message:
                type: string
                example: Validation errors occurred.
              errors:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
                example:
                  business_name:
                    - The business_name field is required.
                  operating_days:
                    - Please select at least one operating day for your farm.

  schemas:
    # Users & Auth
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: John Peterson
        email:
          type: string
          format: email
          example: farmer.john@marketlink.com
        role:
          type: string
          enum: [admin, farmer, customer]
          example: farmer
        status:
          type: string
          enum: [pending, active, suspended]
          example: active
        created_at:
          type: string
          format: date-time
          example: '2026-09-24T08:00:00.000000Z'

    # Farmer Profile
    FarmerProfile:
      type: object
      properties:
        id:
          type: integer
          example: 1
        user_id:
          type: integer
          example: 1
        business_name:
          type: string
          example: Sunrise Organic Acres
        description:
          type: string
          example: Certified organic family farm specializing in seasonal heirloom produce.
        stall_number:
          type: string
          example: Stall #14
        address:
          type: string
          example: 450 Valley Road, Greenfield, CA 95001
        latitude:
          type: number
          format: float
          example: 37.7600000
        longitude:
          type: number
          format: float
          example: -122.4200000
        operating_days:
          type: array
          items:
            type: string
          example: [Wednesday, Saturday, Sunday]
        pickup_start_time:
          type: string
          example: '08:00'
        pickup_end_time:
          type: string
          example: '13:00'
        is_approved:
          type: boolean
          example: true
        rejection_reason:
          type: string
          nullable: true
          example: null
        user:
          $ref: '#/components/schemas/User'
        markets:
          type: array
          items:
            $ref: '#/components/schemas/Market'

    FarmerRegisterRequest:
      type: object
      required:
        - name
        - email
        - password
        - password_confirmation
        - business_name
        - address
        - operating_days
      properties:
        name:
          type: string
          example: John Peterson
        email:
          type: string
          format: email
          example: farmer.john@marketlink.com
        password:
          type: string
          format: password
          minLength: 8
          example: Farmer123!
        password_confirmation:
          type: string
          format: password
          example: Farmer123!
        business_name:
          type: string
          example: Sunrise Organic Acres
        description:
          type: string
          example: Family-owned certified organic farm harvesting seasonal vegetables.
        stall_number:
          type: string
          example: Stall #14
        address:
          type: string
          example: 450 Valley Road, Greenfield, CA 95001
        latitude:
          type: number
          format: float
          example: 37.7600000
        longitude:
          type: number
          format: float
          example: -122.4200000
        operating_days:
          type: array
          items:
            type: string
            enum: [Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday]
          example: [Wednesday, Saturday, Sunday]
        pickup_start_time:
          type: string
          example: '08:00'
        pickup_end_time:
          type: string
          example: '13:00'

    FarmerRegisterResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        message:
          type: string
          example: Farmer registration submitted successfully. Your account is pending admin verification.
        data:
          type: object
          properties:
            user:
              $ref: '#/components/schemas/User'
            token:
              type: string
              example: 1|9a8b7c6d5e4f3a2b1c0d...

    FarmerProfileUpdateRequest:
      type: object
      properties:
        business_name:
          type: string
          example: Sunrise Organic Acres & Orchards
        description:
          type: string
          example: Expanded organic farm harvesting heirloom tomatoes, peaches, and berries.
        stall_number:
          type: string
          example: Stall #15
        address:
          type: string
          example: 455 Valley Road, Greenfield, CA 95001
        latitude:
          type: number
          example: 37.7605000
        longitude:
          type: number
          example: -122.4205000
        operating_days:
          type: array
          items:
            type: string
            enum: [Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday]
          example: [Thursday, Saturday, Sunday]
        pickup_start_time:
          type: string
          example: '08:30'
        pickup_end_time:
          type: string
          example: '13:30'
        market_ids:
          type: array
          items:
            type: integer
          example: [1, 2]

    FarmerProfileResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        data:
          $ref: '#/components/schemas/FarmerProfile'

    # Products
    Product:
      type: object
      properties:
        id:
          type: integer
          example: 1
        farmer_profile_id:
          type: integer
          example: 1
        category_id:
          type: integer
          example: 1
        name:
          type: string
          example: Organic Heirloom Tomatoes
        slug:
          type: string
          example: organic-heirloom-tomatoes-66f27b
        description:
          type: string
          example: Vine-ripened multicolor heirloom tomatoes with rich sweet acidity.
        price:
          type: string
          example: '4.99'
        unit:
          type: string
          example: kg
        stock_quantity:
          type: integer
          example: 60
        weekly_quota:
          type: integer
          example: 80
        image_path:
          type: string
          example: products/heirloom_tomatoes.jpg
        is_available:
          type: boolean
          example: true
        is_moderated:
          type: boolean
          example: false
        category:
          $ref: '#/components/schemas/Category'

    ProductStoreRequest:
      type: object
      required:
        - name
        - category_id
        - price
        - unit
        - stock_quantity
      properties:
        name:
          type: string
          example: Organic Heirloom Tomatoes
        category_id:
          type: integer
          example: 1
        description:
          type: string
          example: Vine-ripened multicolor heirloom tomatoes with rich sweet acidity.
        price:
          type: number
          format: float
          minimum: 0
          example: 4.99
        unit:
          type: string
          example: kg
        stock_quantity:
          type: integer
          minimum: 0
          example: 60
        weekly_quota:
          type: integer
          minimum: 0
          example: 80
        image:
          type: string
          format: binary
          description: Max 2048KB image file (jpeg, png, jpg, webp).
        is_available:
          type: boolean
          example: true

    ProductUpdateRequest:
      type: object
      properties:
        name:
          type: string
          example: Organic Heirloom Tomatoes (Jumbo Box)
        category_id:
          type: integer
          example: 1
        description:
          type: string
          example: Vine-ripened multicolor heirloom tomatoes packed in wooden display boxes.
        price:
          type: number
          format: float
          minimum: 0
          example: 5.50
        unit:
          type: string
          example: box
        stock_quantity:
          type: integer
          minimum: 0
          example: 45
        weekly_quota:
          type: integer
          minimum: 0
          example: 70
        image:
          type: string
          format: binary
          description: Optional replacement image file.
        is_available:
          type: boolean
          example: true

    ProductSingleResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        message:
          type: string
          example: Product created successfully.
        data:
          $ref: '#/components/schemas/Product'

    ProductListResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        data:
          type: object
          properties:
            current_page:
              type: integer
              example: 1
            data:
              type: array
              items:
                $ref: '#/components/schemas/Product'
            per_page:
              type: integer
              example: 15
            total:
              type: integer
              example: 25

    # Orders
    OrderItem:
      type: object
      properties:
        id:
          type: integer
          example: 1
        order_id:
          type: integer
          example: 1
        product_id:
          type: integer
          example: 1
        quantity:
          type: integer
          example: 2
        unit_price:
          type: string
          example: '4.99'
        subtotal:
          type: string
          example: '9.98'
        product:
          $ref: '#/components/schemas/Product'

    Order:
      type: object
      properties:
        id:
          type: integer
          example: 1
        order_number:
          type: string
          example: ORD-0001
        customer_id:
          type: integer
          example: 9
        farmer_profile_id:
          type: integer
          example: 1
        market_id:
          type: integer
          example: 1
        total_amount:
          type: string
          example: '25.50'
        status:
          type: string
          enum: [pending, accepted, declined, ready_for_pickup, completed, cancelled]
          example: pending
        pickup_slot:
          type: string
          example: 09:00 AM - 10:00 AM
        decline_reason:
          type: string
          nullable: true
          example: null
        cutoff_time:
          type: string
          format: date-time
          example: '2026-09-24T18:00:00.000000Z'
        created_at:
          type: string
          format: date-time
          example: '2026-09-24T07:00:00.000000Z'
        customer:
          $ref: '#/components/schemas/User'
        market:
          $ref: '#/components/schemas/Market'
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'

    OrderStatusUpdateRequest:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [accepted, declined, ready_for_pickup]
          example: accepted
        decline_reason:
          type: string
          maxLength: 500
          description: Mandatory when status is set to declined.
          example: Insufficient inventory due to overnight frost damage.

    OrderSingleResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        message:
          type: string
          example: Order status transitioned to accepted successfully.
        data:
          $ref: '#/components/schemas/Order'

    OrderListResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        data:
          type: object
          properties:
            current_page:
              type: integer
              example: 1
            data:
              type: array
              items:
                $ref: '#/components/schemas/Order'
            per_page:
              type: integer
              example: 15
            total:
              type: integer
              example: 10

    FarmerDashboardStatsResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        data:
          type: object
          properties:
            total_orders:
              type: integer
              example: 48
            pending_orders:
              type: integer
              example: 6
            completed_orders:
              type: integer
              example: 38
            total_revenue:
              type: string
              example: '2840.50'
            active_products:
              type: integer
              example: 15
            average_rating:
              type: number
              format: float
              example: 4.85
            total_reviews:
              type: integer
              example: 22

    # Reviews
    Review:
      type: object
      properties:
        id:
          type: integer
          example: 1
        order_id:
          type: integer
          example: 4
        customer_id:
          type: integer
          example: 9
        farmer_profile_id:
          type: integer
          example: 1
        product_id:
          type: integer
          example: 1
        rating:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        comment:
          type: string
          example: The heirloom tomatoes were extraordinarily fresh and flavorful! Friendly pickup experience.
        farmer_reply:
          type: string
          nullable: true
          example: Thank you for supporting our family farm!
        is_moderated:
          type: boolean
          example: false
        admin_status:
          type: string
          example: visible
        created_at:
          type: string
          format: date-time
          example: '2026-09-24T08:30:00.000000Z'
        customer:
          $ref: '#/components/schemas/User'
        product:
          $ref: '#/components/schemas/Product'

    FarmerReviewReplyRequest:
      type: object
      required:
        - farmer_reply
      properties:
        farmer_reply:
          type: string
          minLength: 2
          maxLength: 1000
          example: Thank you Alice! We look forward to seeing you at next weekend's farmers market stall.

    ReviewSingleResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        message:
          type: string
          example: Reply posted successfully.
        data:
          $ref: '#/components/schemas/Review'

    ReviewListResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        data:
          type: object
          properties:
            current_page:
              type: integer
              example: 1
            data:
              type: array
              items:
                $ref: '#/components/schemas/Review'
            total:
              type: integer
              example: 8

    # Admin Dashboard & Statistics
    AdminDashboardStatsResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        data:
          type: object
          properties:
            total_farmers:
              type: integer
              example: 7
            approved_farmers:
              type: integer
              example: 5
            pending_farmers:
              type: integer
              example: 2
            total_customers:
              type: integer
              example: 32
            active_markets:
              type: integer
              example: 3
            total_orders:
              type: integer
              example: 55
            total_revenue:
              type: string
              example: '3150.25'
            total_products:
              type: integer
              example: 15

    AdminFarmerListResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        data:
          type: object
          properties:
            current_page:
              type: integer
              example: 1
            data:
              type: array
              items:
                $ref: '#/components/schemas/FarmerProfile'
            total:
              type: integer
              example: 7

    AdminCustomerListResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        data:
          type: object
          properties:
            current_page:
              type: integer
              example: 1
            data:
              type: array
              items:
                $ref: '#/components/schemas/User'
            total:
              type: integer
              example: 32

    # Markets
    Market:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Greenfield Central Farmers Market
        location:
          type: string
          example: Greenfield
        address:
          type: string
          example: 100 Market Square, Greenfield, CA 95001
        latitude:
          type: number
          format: float
          example: 37.7749000
        longitude:
          type: number
          format: float
          example: -122.4194000
        operating_days:
          type: array
          items:
            type: string
          example: [Saturday, Sunday]
        open_time:
          type: string
          example: '08:00'
        close_time:
          type: string
          example: '14:00'
        status:
          type: string
          enum: [active, inactive]
          example: active

    MarketRequest:
      type: object
      required:
        - name
        - location
        - address
        - operating_days
        - open_time
        - close_time
      properties:
        name:
          type: string
          example: Greenfield Central Farmers Market
        location:
          type: string
          example: Greenfield
        address:
          type: string
          example: 100 Market Square, Greenfield, CA 95001
        latitude:
          type: number
          format: float
          example: 37.7749000
        longitude:
          type: number
          format: float
          example: -122.4194000
        operating_days:
          type: array
          items:
            type: string
          example: [Saturday, Sunday]
        open_time:
          type: string
          example: '08:00'
        close_time:
          type: string
          example: '14:00'
        status:
          type: string
          enum: [active, inactive]
          example: active

    # Categories
    Category:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Vegetables
        slug:
          type: string
          example: vegetables
        description:
          type: string
          example: Locally grown organic vegetables, leafy greens, root crops, and seasonal produce.
        is_active:
          type: boolean
          example: true

    CategoryRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          maxLength: 100
          example: Vegetables
        slug:
          type: string
          maxLength: 120
          example: fresh-vegetables
        description:
          type: string
          maxLength: 500
          example: Locally grown organic vegetables and microgreens.
        is_active:
          type: boolean
          example: true

    # Announcements
    Announcement:
      type: object
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: Welcome to MarketLink Platform
        message:
          type: string
          example: Connect directly with local farmers and pre-order fresh produce for weekend pickup!
        target_role:
          type: string
          enum: [all, farmer, customer]
          example: all
        is_active:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
          example: '2026-09-24T06:30:00.000000Z'

    AnnouncementRequest:
      type: object
      required:
        - title
        - message
      properties:
        title:
          type: string
          maxLength: 255
          example: Vendor Stall Guidelines & Health Inspection Update
        message:
          type: string
          minLength: 5
          example: All participating farmers must submit their updated seasonal health inspection permits before next month.
        target_role:
          type: string
          enum: [all, farmer, customer]
          example: farmer
        is_active:
          type: boolean
          example: true
